
body{
  background-color: #d9eabf1a;
}
.main-heading {
  text-align: center;
  margin-top: 70px;
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  font-size: 41px; /* Set font size to 45px */
  font-weight: 800; /* Set font weight to normal (400) */
  
}

.sub-heading {
  text-align: center;
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  font-size: 41px; /* Set font size to 45px */
  font-weight: 800; /* Set font weight to normal (400) */
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 100px;
  width: 650px;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-dropdown {
  margin-right: 10px; 
}


.category-select {
  padding: 8px 30px;
  border: none;
  background-color: #ABE44E; 
  border-radius: 5px;
  color: #fff;
}
.category-select option:hover {
  background-color: #fff;
  color: #fff;
}
.row {
  background-image: linear-gradient(to bottom, #c9ed8f, #eefcec);
  align-items: center;
  width: 100%;
  max-width: 800px; /* Adjust the width as needed */
  height: 170px;
  border-radius: 20px;
  justify-content:center; 
}
.category-select:hover {
  background-color: #ABE44E; 
  cursor: pointer;
}

.category-select:focus {
  outline: none;
}
.search-input {
  border: none;
  flex: 1;
  background-color: #F8F8F8;
  padding: 8px;
  border-radius: 0px;
  margin-right: 10px;
}

.search-button {
  padding: 8px 30px;
  background-color: #ABE44E;
  color: #F8F8F8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #F8F8F8;
  color: #ABE44E;
}

.search-input:focus {
  outline: none;

}

.metric-number{
  font-weight: bold;
  font-size: 40px;
}

.metric-caption{
  font-size: 16px;
  font-weight:normal;
}

.grid-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.grid-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 1000px;
  height: 300px;
}

.featured-heading {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 30px;
}

.product-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: baseline;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px;

}

.product-image {
  width: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  object-fit: cover;

}

.value-title{
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.value-caption{
  font-weight: normal;
  font-size: 15px;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 400px;
}
.pet-card{
  height:150px;
  border-radius: 10px;
}
.pet-card-body{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.pet-card-title{
  text-align: left;
  margin: 0;
  font-size:15px;
}
.pet-card-adopt-btn {
  background-color: transparent; /* Set background color to transparent */
  font-weight: bold;
  color: #ABE44E;
  border: none; /* Remove border */
  box-shadow: none; /* Remove box-shadow */
}

.pet-card-adopt-btn:hover {
  background-color: transparent; /* Set background color to transparent */
  border: none; /* Remove border */
  box-shadow: none; /* Remove box-shadow */
  color: inherit; /* Inherit text color */
}
.container-footer{
	max-width: 1170px;
	margin:auto;
}
.page-name{
  font-size: 15px;
}
.adopt-banner{
  background-color:#ABE44E4a;
  display:flex;
  align-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 850px; /* Adjust the width as needed */
  height: 120px;
  justify-content: space-evenly;
  align-items: center;
}
.adopt-banner-text{
  text-align: center;
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  font-size: 25px; /* Set font size to 45px */
  font-weight: 800; /* Set font weight to normal (400) */
}
.adopt-banner-button{
  padding: 8px 30px;
  background-color: #ABE44E;
  color: #F8F8F8;
  border: none;
  cursor: pointer;
}
.row-footer{
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
ul{
	list-style: none;
}
.footer{
	background-color:#d9eabf1a;
  padding: 10px 0;
  margin-top: 80px;
}

.footer-col h4{
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #000000;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
.footer-item{
  text-decoration: none;
  color: black;
}
.footer-item:hover{
  text-decoration: none;
  color: #ABE44E;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #000000;
}
.social-links a {
  margin-right: 20px; /* Add margin between the icons */
}
.copyright {
  text-align: center;
  font-weight: lighter;
  font-size: 12px;
  color: #9b9c9e;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
